{% extends 'web/base.html.twig' %}
{% block title %}New Appointment!{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(form, {method: 'POST'}) }}
        <h1 class="text-center">Add Appointment</h1>
        <div class="form-floating">
            {{ form_widget(form.service, {attr: {class: 'form-control', placeholder: ''
            }}) }}
            {{ form_label(form.service, 'Service', {label_attr: {class: 'form-label'}}) }}
            {{ form_errors(form.service) }}
        </div>
        <div class="form-floating">
            {{ form_widget(form.date, {attr: {class: 'form-control', placeholder: ''
            }}) }}
            {{ form_label(form.date, 'Date', {label_attr: {class: 'form-label'}}) }}
            {{ form_errors(form.date) }}
        </div>
        {% if form.startTime is defined %}
        <div class="form-floating">
            {{ form_widget(form.startTime, {attr: {class: 'form-control', placeholder: ''
            }}) }}
            {{ form_label(form.startTime, 'Start Time', {label_attr: {class: 'form-label'}}) }}
            {{ form_errors(form.startTime) }}
        </div>
        {% endif %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
        {{ form_end(form) }}

    </div>
{% endblock %}