{{ form_start(form) }}
<div class="form-floating">
    {{ form_widget(form.plainPassword.first, {attr: {class: 'form-control', placeholder: ''
    }}) }}
    {{ form_label(form.plainPassword.first, 'Password', {label_attr: {class: 'form-label'}}) }}
    {{ form_errors(form.plainPassword.first) }}
</div>
<div class="form-floating">
    {{ form_widget(form.plainPassword.second, {attr: {class: 'form-control', placeholder: ''
    }}) }}
    {{ form_label(form.plainPassword.second, 'Repeat Password', {label_attr: {class: 'form-label'}}) }}
    {{ form_errors(form.plainPassword.second) }}
</div>
{{ form_end(form) }}