{% extends 'web/main_page/medic_main_page.html.twig' %}
{% block title %}Edit medic{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <h1 class="text-center">Edit Account</h1>
        <div class="form-floating">
            {{ form_widget(form.firstName, {attr: {class: 'form-control', placeholder: ''
            }}) }}
            {{ form_label(form.firstName, 'First name', {label_attr: {class: 'form-label'}}) }}
            {{ form_errors(form.firstName) }}
        </div>
        <div class="form-floating">
            {{ form_widget(form.lastName, {attr: {class: 'form-control', placeholder: ''
            }}) }}
            {{ form_label(form.lastName, 'Last name', {label_attr: {class: 'form-label'}}) }}
            {{ form_errors(form.lastName) }}
        </div>
        <div class="form-floating">
            {{ form_widget(form.email, {attr: {class: 'form-control', placeholder: ''
            }}) }}
            {{ form_label(form.email, 'Email', {label_attr: {class: 'form-label'}}) }}
            {{ form_errors(form.email) }}
        </div>
        <div class="form-floating">
            {{ form_widget(form.telephoneNr, {attr: {class: 'form-control', placeholder: ''
            }}) }}
            {{ form_label(form.telephoneNr, 'Telephone Number', {label_attr: {class: 'form-label'}}) }}
            {{ form_errors(form.telephoneNr) }}
        </div>
        <div class="form-floating">
            {{ form_widget(form.cnp, {attr: {class: 'form-control', placeholder: ''
            }}) }}
            {{ form_label(form.cnp, 'CNP', {label_attr: {class: 'form-label'}}) }}
            {{ form_errors(form.cnp) }}
        </div>
        <div class="form-floating">
            {{ form_widget(form.specialization, {attr: {class: 'form-control', placeholder: ''
            }}) }}
            {{ form_label(form.specialization, 'Specialization', {label_attr: {class: 'form-label'}}) }}
            {{ form_errors(form.specialization) }}
        </div>
        <div class="form-floating">
            {{ form_widget(form.experience, {attr: {class: 'form-control', placeholder: ''
            }}) }}
            {{ form_label(form.experience, 'Experience', {label_attr: {class: 'form-label'}}) }}
            {{ form_errors(form.experience) }}
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
        {{ form_end(form) }}
    </div>

    <div class="container" {{ stimulus_controller('modal-form', {
        formUrl: path('web_change_password')
    }) }} class="checkbox mb-3">
        <label>
            <a
                    href="#"
                    data-action="modal-form#openModal"
            >Change Password</a>
            {{ include('_modal.html.twig', {
                modalTitle: 'Change password',
                modalSubmit: 'Submit',
            }) }}
        </label>
    </div>

{% endblock %}