<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('web') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('web') }}
    {% endblock %}
</head>
<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ path('web_main_page') }}" class="nav-link px-2 text-secondary">Home</a></li>
                {% if app.user %}
                <li><a href="{{ path('web_show_appointments') }}" class="nav-link px-2 text-white">My Appointments</a></li>
                {% endif %}
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About us</a></li>
            </ul>
            <div class="text-end">
                {% if app.user %}
                <a href="#" class="btn btn-outline-light me-2">New Appointment</a>
                    <div class="btn me-2 dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown">My Account
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-dark mx-0 border-0 shadow w-220px">
                            <li><a href="#" class="dropdown-item d-flex gap-2 align-items-center">Edit Profile</a></li>
                            <li><a href="#" class="dropdown-item d-flex gap-2 align-items-center">Change Password</a></li>
                            <li><a href="#" class="dropdown-item d-flex gap-2 align-items-center">Delete Account</a></li>
                        </ul>
                    </div>
                <a href="{{ path('web_logout') }}" class="btn btn-outline-light me-2">Logout</a>
                {% else %}
                <a href="{{ path('web_login') }}" class="btn btn-outline-light me-2">Login</a>
                <a href="{{ path('web_register') }}" class="btn btn-outline-light me-2">Sign-up</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<body>
    {% block body %} {% endblock %}
</body>

<footer>
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-6 col-md-2 mb-3">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="{{ path('web_main_page') }}">Home</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="{{ path('web_show_appointments') }}">My Appointments</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">FAQs</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">About us</a></li>
                </ul>
            </div>
            <div class="col-md-4 offset-md-5 mb-1">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <div class="d-flex w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input type="text" class="form-control" id="newsletter1" placeholder="Email address">
                        <button class="btn btn-outline-dark" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</footer>

</html>
