<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('web') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('web') }}
    {% endblock %}
</head>
<header class="p-3 text-bg-dark">
    {% block header %}
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ path('web_main_page') }}" class="nav-link px-2 text-white">Home</a></li>
                {% if is_granted('ROLE_MEDIC') %}
                <li><a href="{{ path('web_medic_main_page') }}" class="nav-link px-2 text-white">Medic Dashboard</a></li>
                {% endif %}
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About us</a></li>
                {% if app.user %}
                    <li><a href="{{ path('web_show_appointments') }}" class="nav-link px-2 text-white">My Appointments</a></li>
                {% endif %}
            </ul>
            <div class="text-end">
                {% if app.user %}
                <a href="{{ path('web_browse_hospitals') }}" class="btn btn-outline-light me-2">Browse Hospitals</a>
                    <div class="btn me-2 dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown">My Account
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-dark mx-0 border-0 shadow w-220px">
                            <li><a href="{{ path('web_edit_user') }}" class="dropdown-item d-flex gap-2 align-items-center">Edit Profile</a></li>
                            <li>
                                <div class="actionContainer">
                                    <form
                                            action="{{path('web_delete_user')}}"
                                            method="POST"
                                            {{ stimulus_controller('submit-confirm', {
                                                title: 'This action will permanently delete your account. Are you sure?',
                                                icon: 'warning',
                                                confirmButtonText: 'Yes, remove it',
                                            }) }}
                                            data-action="submit-confirm#onSubmit"
                                    >
                                        <button class="dropdown-item d-flex gap-2 align-items-center">Delete Account</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                <a href="{{ path('web_logout') }}" class="btn btn-outline-light me-2">Logout</a>
                {% else %}
                <a href="{{ path('web_login') }}" class="btn btn-outline-light me-2">Login</a>
                <a href="{{ path('web_register') }}" class="btn btn-outline-light me-2">Sign-up</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
</header>

<body>
    {% block body %} {% endblock %}
    {{ encore_entry_script_tags('jquery') }}
    {{ encore_entry_script_tags('new_appointment') }}
    <div class="center-flash-message">
        {%block flash_messages %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        <div class="alert alert-{{ label }}">
                            {{ message }}.
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}
    </div>
</body>

<footer>
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-10">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="{{ path('web_main_page') }}">Home</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="{{ path('web_show_appointments') }}">My Appointments</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">FAQs</a></li>
                    <li class="nav-item mb-2"><a class="nav-link p-0 text-muted" href="#">About us</a></li>
                </ul>
            </div>
            {% if app.user and app.user.isSubscribed == false %}
            <div class="col-2">
                <form
                    action="{{ path('web_subscribe_newsletter') }}"
                    method="POST"
                    {{ stimulus_controller('submit-confirm', {
                        title: 'Thank you for subscribing to our newsletter!',
                        icon: 'success',
                        confirmButtonText: 'Confirm',
                    }) }}
                    data-action="submit-confirm#onSubmit"
                >
                    <button id="newsletter-button" class="btn btn-sm btn-outline-dark">Subscribe to our newsletter</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</footer>

</html>
