{% extends 'web/base.html.twig' %}

{% block body %}
            <div class="container">
                        <div class="d-flex justify-content-around mt-5 mb-5">
                            <div class="col-10">
                                <input id="search-focus" type="search" class="form-control" />
                            </div>
                            <div class="col-1">
                                <button class="btn btn-primary">
                                    Search
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h4>Sort By:</h4>
                                <div class="checkbox">
                                    <label><input type="checkbox" class="icheck"> Application</label>
                                </div>
                                <div class="checkbox"> <label><input type="checkbox" class="icheck"> Design</label>
                                </div>
                                <div class="checkbox"> <label><input type="checkbox" class="icheck"> Desktop</label>
                                </div>
                                <div class="checkbox"> <label><input type="checkbox" class="icheck"> Management</label>
                                </div>
                                <div class="checkbox"> <label><input type="checkbox" class="icheck"> Mobile</label>
                                </div>
                                </div>

                            <div class="col-md-10">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                    {% for building in buildings %}
                                        <div class="col">
                                            <div class="card shadow-sm">
                                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                                <div class="card-body">
                                                    <p class="card-text">{{ building.name }}</p>
                                                    <p class="card-text">{{ building.address }} {{ building.postalCode }}</p>
                                                    <p class="card-text">{{ building.city }}</p>
                                                    <p class="card-text">{{ building.startHour.format('H:i') }} - {{ building.endHour.format('H:i') }}</p>
                                                    <p class="card-text">{{ building.description }}</p>
                                                    <p class="card-text">{{ building.phone }} {{ building.email }}</p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="btn-group">
                                                            <a href="{{path('web_show_medics',{'id': building.id})}}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                        {% if totalPages > 0 %}
                            <nav aria-label="Pagination">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a href="#" class="nav-link text-secondary page-link">Previous</a>
                                    </li>
                                    {% for i in 1..totalPages%}
                                        <li class="page-item"><a class="nav-link text-secondary page-link" href="{{ path('web_browse_hospitals') }}?page={{i}}">{{i}}</a></li>
                                    {%endfor%}
                                    <li class="page-item">
                                        <a href="#" class="nav-link text-secondary page-link">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
            </div>

{% endblock %}