{% extends 'web/base.html.twig' %}

{% block body %}
            <div class="container">
                        <div class="d-flex justify-content-around mt-5 mb-5">
                            <div class="col-10">
                                <input id="search-focus" type="search" class="form-control" />
                            </div>
                            <div class="col-1">
                                <a>
                                    <button class="btn btn-outline-dark" onclick="function searchHospitals() {
                                            var searchQuery = document.getElementById('search-focus').value;
                                            var filterCriteria = '';
                                            var sortCriteria;
                                            if (document.getElementById('sort').value === 'Ascending') {
                                                sortCriteria = 'asc';
                                            } else {
                                                sortCriteria = 'desc';
                                            }
                                            if (document.getElementById('name').checked) {
                                                filterCriteria ='name';
                                            }
                                            if (document.getElementById('address').checked) {
                                            filterCriteria = 'address';
                                            }
                                            if (document.getElementById('city').checked) {
                                            filterCriteria = 'city';
                                            }
                                            if (document.getElementById('description').checked) {
                                            filterCriteria = 'description';
                                            }
                                            if (document.getElementById('email').checked) {
                                            filterCriteria = 'email';
                                            }
                                            console.log(name);
                                            window.location.href = '{{ path('web_browse_hospitals') }}?search=' +
                                                    encodeURIComponent(searchQuery) +
                                                    '&filterBy=' +
                                                    encodeURIComponent(filterCriteria) +
                                                    '&sortBy=' +
                                                    encodeURIComponent(sortCriteria)
                                            ;
                                    }
                                    searchHospitals()">
                                        Search
                                    </button>
                                </a>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                    <h4>Filter By:</h4>
                                    <div class="checkbox">
                                        <label><input id="name" type="checkbox" class="icheck"> Name</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input id="address" type="checkbox" class="icheck"> Address</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input id="city" type="checkbox" class="icheck"> City</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input id="description" type="checkbox" class="icheck"> Description</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input id="email" type="checkbox" class="icheck"> Email</label>
                                    </div>
                                    <div class="checkbox">
                                        <label for="sort">Sort by:</label>
                                        <select class="dropdown-toggle" id="sort">
                                            <option>Ascending</option>
                                            <option>Descending</option>
                                        </select>
                                    </div>
                            </div>

                            <div class="col-md-10">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                                    {% for hospital in hospitals %}
                                        <div class="col">
                                            <div class="card shadow-sm">
                                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                                                <div class="card-body">
                                                    <p class="card-text">{{ hospital.name }}</p>
                                                    <p class="card-text">{{ hospital.address }} {{ hospital.postalCode }}</p>
                                                    <p class="card-text">{{ hospital.city }}</p>
                                                    <p class="card-text">{{ hospital.startHour.format('H:i') }} - {{ hospital.endHour.format('H:i') }}</p>
                                                    <p class="card-text">{{ hospital.description }}</p>
                                                    <p class="card-text">{{ hospital.phone }} {{ hospital.email }}</p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="btn-group">
                                                            <a href="{{path('web_show_medics',{'id': hospital.id})}}" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                        {% if totalPages > 0 %}
                            <nav aria-label="Pagination">
                                <ul class="pagination justify-content-center">
                                    {% for i in 1..totalPages%}
                                        <li class="page-item"><a class="nav-link text-secondary page-link" href="{{ path('web_browse_hospitals') }}?page={{i}}">{{i}}</a></li>
                                    {%endfor%}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
            </div>

{% endblock %}