{% extends 'form/base.form.html.twig' %}
{% block title %} Change your password {% endblock %}
{% block body %}
    {{ form_start(form) }}
    <h1>Change your password</h1>
    <div class="form-floating">
        {{ form_widget(form.plainPassword.first, {attr: {class: 'form-control', placeholder: ''
        }}) }}
        {{ form_label(form.plainPassword.first, 'Password', {label_attr: {class: 'form-label'}}) }}
        {{ form_errors(form.plainPassword.first) }}
    </div>
    <div class="form-floating">
        {{ form_widget(form.plainPassword.second, {attr: {class: 'form-control', placeholder: ''
        }}) }}
        {{ form_label(form.plainPassword.second, 'Repeat Password', {label_attr: {class: 'form-label'}}) }}
        {{ form_errors(form.plainPassword.second) }}
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    {{ form_end(form) }}
{% endblock %}